nav#controls {
    visibility: var(--hide-left);
}

aside#players {
    visibility: var(--hide-left);
}

nav#navigation {
    visibility: var(--hide-left);
}

div#hotbar {
    visibility: var(--hide-left);
}